:root {

    /* color */
    --color-background: #EFD7C2;
    --color-beige-slogan: #FDD8B7;
    --color-beige-dark: #D2BDAB;
    --color-beige-light: #FFECDB;
    --color-musicsheet: #ffffff;
    --color-peace: #DBDBDB;
    --color-sidebar: #4D4D4D;
    --color-sizebar: #252525;
    --color-black: #000000;

}


* {
    background-color: transparent;
    margin: 0 auto;
}

.container {
    background-color: var(--color-background);
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

/* about Modal */
#modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    
}

#modal_body {
    background-color: transparent;
    width: 100%;
    height: 100%;
    /* 이거 다시 짜기 */
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal_body img {
    width: 99vw;
    height: 99vh;
    object-fit: contain;
    background-color: transparent;
}


/* about SideBar */
#sidebar {
    width: 274px;
    height: 100vh;
    background-color: var(--color-sidebar);
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.item_sidebar {
    background-color: var(--color-sidebar);
}

#logo {
    margin-top: 30px;
    font-weight: bolder;
    font-size: 55px;
    color: var(--color-background);
}

#slogan {
    padding: 27px;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-beige-slogan);
}

#developer {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 22px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--color-peace);
}


/* about WorkSpace */
#workspace {
    width: calc(100% - 548px);
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#canvasBox {
    width: calc(595 / 969 * 90vh);
    height: calc(842 / 969 * 90vh);
    position: relative;
    background-color: transparent;
}

canvas {
    position: absolute;
}

#canvasFlag {
    width: calc(595 / 969 * 90vh);
    height: calc(842 / 969 * 90vh);
    z-index: 2;
}

#canvasMain {
    width: calc(595 / 969 * 90vh);
    height: calc(842 / 969 * 90vh);
    background-color: var(--color-musicsheet);
    box-shadow: 0px 4px 4px #99836f;
    z-index: 1;
}


#keyboard {
    width: calc(750/1920*90vw);
    height: calc(80/969*90vh);
    background-color: var(--color-beige-light);
    border: 2px solid var(--color-black);
    border-radius: 14px;
    font-size: 20px;
    color: var(--color-sizebar);
    box-sizing: border-box;
    padding: 0px 20px 0px 20px;
}

#keyboard::placeholder {
    text-align: center;
    font-size: 16px;
    color: #252525;
}

#name_keyboard {
    margin: 20px 0 0 12px;
    font-size: 20px;
}

input:focus {
    outline: none;
}

input::placeholder {
    font-size: 16px;
}


/* about ToolBox */
#toolbox {
    width: 274px;
    height: 100vh;
    overflow-y: scroll;
}

#toolbox::-webkit-scrollbar {
    width: 4px;
}

#toolbox::-webkit-scrollbar-thumb {
    background: linear-gradient(var(--color-beige-dark),#fc5050);
    border-radius: 25px;
}

#btn_complete {
    display: flex;
}

#btn_complete img {
    width: 30px;
    height: 30px;
    margin: 37px 0px 0px 30px;
    cursor: pointer;
}

#complete {
    width: 150px;
    height: 40px;
    margin: 30px 0px 0px 14px;
    border-radius: 15px;
    background-color: var(--color-beige-light);
    border: 1px solid var(--color-beige-dark);
    text-align: center;
    box-shadow: 0px 4px 4px #99836f;
    cursor: pointer;
    font-size: x-large;
}

#complete:hover {
    background-color: var(--color-background);
}



.item_toolbox {
    background-color: var(--color-beige-dark);
    border-radius: 15px;
    width: 246px;
    box-sizing: border-box;
    padding: 11px 0px 0px 23px;
    font-weight: bolder;
    font-size: large;
    overflow: hidden;
}

.tool_name {
    font-weight: bolder;
    font-size: 20px;
    background-color: transparent;
    margin: 0px 0px 8px 0px;
}

.tool {
    width: 200px;
    height: 45px;
    border-top: 1px solid var(--color-black);
    background-color: transparent;
    margin: 0px;
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    padding: 10px 0px 0px 0px;
}

.tool_ex {
    background-color: transparent;
    margin-left: 10px;
    display: flex;
    /* 나중에 javascript로로 추가시에만 cursor을 pointer 바꾸게 변경하기 */
    cursor : pointer;
}

.tool_ex h4{
    background-color: transparent;
    font-weight: normal;
    font-size: medium;
    margin: -3px 0px 0px 10px;
}

.tool img {
    width: 19px;
    height: 19px;
    background-color: transparent;
    margin: 0;
}

input[type = file] {
    display: none;
}

label {
    background-color: transparent;
}

/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 150px;
    margin-top: 14px;
}

/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
    background-color: var(--color-sizebar);
    border-radius: 10px;
    height: 3px;  
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -5px; /* Centers thumb on the track */

    /*custom styles*/
    background-color: var(--color-sizebar);
    height: 13px;
    width: 13px;
    border-radius: 6px;
}

#info_img {
    width: 141px;
    overflow: hidden;
}

#image_box {
    height: 100px;
    margin-top: 30px;
}

#flag_box {
    height: 178px;
    margin-top: 19px;
}

#hint {
    background-color: transparent;
    font-size: 9px;
    color: var(--color-sizebar);
    margin: 11px 0px 0px 10px;
}

#text_box {
    height: 100px;
    margin-top: 19px;
}

#source_box {
    height: 232px;
    margin-top: 37px;
    margin-bottom: 10px;
}