:root {

    /* color */
    --color-background: #EFD7C2;
    --color-beige-slogan: #FDD8B7;
    --color-beige-dark: #D2BDAB;
    --color-beige-light: #FFECDB;
    --color-musicsheet: #ffffff;
    --color-peace: #DBDBDB;
    --color-sidebar: #4D4D4D;
    --color-sizebar: #252525;
    --color-black: #000000;

}


* {
    background-color: transparent;
    margin: 0 auto;
}

.container {
    background-color: var(--color-background);
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

/* about Modal */
#modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    z-index: 3;
}

#modal_body {
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal_body img {
    width: 99vw;
    height: 99vh;
    object-fit: contain;
    background-color: transparent;
}


/* about SideBar */
#sidebar {
    width: 274px;
    height: 100vh;
    background-color: var(--color-sidebar);
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.item_sidebar {
    background-color: var(--color-sidebar);
}

#logo {
    margin-top: 30px;
    font-weight: bolder;
    font-size: 55px;
    color: var(--color-background);
}

#slogan {
    padding: 27px;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-beige-slogan);
}

#developer {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 22px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--color-peace);
}


/* about WorkSpace */
#workspace {
    width: calc(100% - 548px);
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#canvasBox {
    width: calc(595 / 969 * 90vh);
    height: calc(842 / 969 * 90vh);
    position: relative;
    background-color: transparent;
}

canvas {
    position: absolute;
}

#canvasFlag {
    width: calc(595 / 969 * 90vh);
    height: calc(842 / 969 * 90vh);
    z-index: 2;
}

#canvasMain {
    width: calc(595 / 969 * 90vh);
    height: calc(842 / 969 * 90vh);
    background-color: var(--color-musicsheet);
    box-shadow: 0px 4px 4px #99836f;
    z-index: 1;
}

#canvasSubmit {
    width: calc(595 / 969 * 90vh);
    height: calc(842 / 969 * 90vh);
    display: none;
}


#keyboard {
    width: calc(750/1920*90vw);
    height: calc(80/969*90vh);
    background-color: var(--color-beige-light);
    border: 2px solid var(--color-black);
    border-radius: 14px;
    font-size: 20px;
    color: var(--color-sizebar);
    box-sizing: border-box;
    text-align: center;
    padding: 0px 20px 0px 20px;
}

#keyboard::placeholder {
    text-align: center;
    font-size: 16px;
    color: #252525;
}

#name_keyboard {
    margin: 20px 0 0 12px;
    font-size: 20px;
}

input:focus {
    outline: none;
}

input::placeholder {
    font-size: 16px;
}


/* about ToolBox */
#toolbox {
    width: 274px;
    height: 100vh;
    overflow-y: scroll;
}

#toolbox::-webkit-scrollbar {
    width: 4px;
}

#toolbox::-webkit-scrollbar-thumb {
    background: linear-gradient(var(--color-beige-dark),#fc5050);
    border-radius: 25px;
}

.item_toolbox {
    background-color: var(--color-beige-dark);
    border-radius: 15px;
    width: 246px;
    box-sizing: border-box;
    padding: 11px 0px 0px 23px;
    font-weight: bolder;
    font-size: large;
    overflow: hidden;
}

.tool_name {
    font-weight: bolder;
    font-size: 20px;
    background-color: transparent;
    margin: 0px 0px 8px 0px;
}

.tool {
    width: 200px;
    height: 45px;
    border-top: 1px solid var(--color-black);
    background-color: transparent;
    margin: 0px;
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    padding: 10px 0px 0px 0px;
}

.tool_ex {
    background-color: transparent;
    margin-left: 10px;
    display: flex;
    cursor : pointer;
    transition: all 500ms;
}

.tool_ex:hover {
    transform:translateX(8px);
}

.tool_ex h4{
    background-color: transparent;
    font-weight: normal;
    font-size: medium;
    margin: -3px 0px 0px 10px;
}

.tool img {
    width: 19px;
    height: 19px;
    background-color: transparent;
    margin: 0;
}

input[type = file] {
    display: none;
}

label {
    background-color: transparent;
}

#info_keyboard {
    width: 200px;
    height: 30px;
    background-color: var(--color-beige-light);
    border: 1px solid #00000063;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    color: var(--color-sizebar);
    box-sizing: border-box;
    text-align: center;
    padding: 0px 10px 0px 10px;
    box-shadow: 0px 2px 2px #99836f;
    transition: all 300ms;
}

#info_keyboard::placeholder {
    font-size: 13px;
    font-weight: normal;
    color: var(--color-sidebar);
}

#info_keyboard:hover {
    border: 1px solid #000000;
}

.btn {
    width: 100px;
    height: 35px;
    border-radius: 12px;
    background-color: var(--color-beige-light);
    border: 1px solid #00000054;
    text-align: center;
    box-shadow: 0px 4px 4px #99836f;
    cursor: pointer;
    font-size: 20px;
    transition: all 200ms;
}

.btn:hover {
    background-color: var(--color-background);
    transform: translateY(2px);
}

#info_img {
    width: 141px;
    overflow: hidden;
}

#Info_box {
    height: 104px;
    margin-top: 50px;
}

#image_box {
    height: 100px;
    margin-top: 19px;
}

#flag_box {
    height: 166px;
    margin-top: 19px;
}

#hint {
    background-color: transparent;
    font-size: 9px;
    color: var(--color-sizebar);
    margin: 11px 0px 0px 10px;
}

#text_box {
    height: 100px;
    margin-top: 19px;
}

#tools_box {
    margin-top: 19px;
    background-color: var(--color-beige-dark);
    border-radius: 15px;
    width: 246px;
    height: 148px;
    margin-bottom: 10px;
}

#tools_name {
    font-weight: bolder;
    font-size: 20px;
    margin: 0;
    box-sizing: border-box;
    padding: 11px 0px 0px 23px;
}

#item_btnbox {
    height: 96px;
    width: 226px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}